@import '../../theme.scss';

.auth_banner_image{

    >img{
        min-height: 100vh;
        width: 100%;
        object-fit: cover;
    }
}

.form_wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}