@import '../../theme.scss';


.global_search_container{
    width: 250px;
    background-color: $accentGray !important;
    border-radius: 6px;
    padding: 3px 10px;

    >input{
        font-size: 13px;
        background-color: transparent;
        border: none;
        outline: none;
    }

    img{
        width: 25px;
    }
}