


$accentGray    : rgb(245, 245, 245);
$dark          : #000;
$white          : #ffffff;
$lightGray     : #ededed;
$darkGray      : #4d4b4b;
$pageBackground: #fff;
$primaryColor  : #DB4444;
$borderGrey : rgba(0, 0, 0, 0.3);
$lightGrey2 : #f5f5f5;
$containerBorder: 1px solid gray;